<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.refactor.smells">
      <modelsmell
            id="org.eclipse.emf.refactor.smells.ecore.speculativegeneralityeclass"
            modelsmell_description="The model contains an abstract EClass that is inherited by one concrete EClass only."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.ecore.henshin.SpeculativeGeneralityEClass"
            modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore"
            modelsmell_name="Speculative Generality EClass">
      </modelsmell>
   </extension>

</plugin>
