<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.refactor.refactorings">
      <refactoring 
	      controller="org.eclipse.emf.refactor.refactorings.uml24.pullupattribute.RefactoringController" 
	      gui="org.eclipse.emf.refactor.refactorings.uml24.pullupattribute.RefactoringGuiHandler" 
	      id="org.eclipse.emf.refactor.refactorings.uml24.pullupattribute" 
	      menulabel="Pull Up Attribute" 
	      namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
      </refactoring>
      <refactoring 
      	 controller="org.eclipse.emf.refactor.refactorings.uml24.pushdownattribute.RefactoringController" 
      	 gui="org.eclipse.emf.refactor.refactorings.uml24.pushdownattribute.RefactoringGuiHandler" 
      	 id="org.eclipse.emf.refactor.refactorings.uml24.pushdownattribute" 
      	 menulabel="Push Down Attribute" 
      	 namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
      </refactoring>
      <refactoring 
      	 controller="org.eclipse.emf.refactor.refactorings.uml24.removeemptysuperclass.RefactoringController" 
      	 gui="org.eclipse.emf.refactor.refactorings.uml24.removeemptysuperclass.RefactoringGuiHandler" 
      	 id="org.eclipse.emf.refactor.refactorings.uml24.removeemptysuperclass" 
      	 menulabel="Remove Empty Superclass" 
      	 namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
      </refactoring>
   </extension>
</plugin>
