<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.refactor.smells">
      <modelsmell
            id="org.eclipse.emf.refactor.smells.ecore.unnamedeclass" 
            modelsmell_description="The model contains an EClass without a name." 
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.ecore.UnnamedEClass"
            modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore"
            modelsmell_name="Unnamed EClass">
      </modelsmell>
   </extension>

</plugin>
