<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.refactorings">
<refactoring
      controller="org.eclipse.emf.refactor.refactorings.uml24.createassociatedclass.RefactoringController"
      gui="org.eclipse.emf.refactor.refactorings.uml24.createassociatedclass.RefactoringGuiHandler"
      id="org.eclipse.emf.refactor.refactorings.uml24.createassociatedclass"
      menulabel="Create Associated Class"
      namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML"/>
<refactoring
      controller="org.eclipse.emf.refactor.refactorings.uml24.hideattribute.RefactoringController"
      gui="org.eclipse.emf.refactor.refactorings.uml24.hideattribute.RefactoringGuiHandler"
      id="org.eclipse.emf.refactor.refactorings.uml24.hideattribute"
      menulabel="Hide Attribute"
      namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML"/>
<refactoring 
	  controller="org.eclipse.emf.refactor.refactorings.uml24.removeunusedinterface.RefactoringController" 
	  gui="org.eclipse.emf.refactor.refactorings.uml24.removeunusedinterface.RefactoringGuiHandler" 
	  id="org.eclipse.emf.refactor.refactorings.uml24.removeunusedinterface" 
	  menulabel="Remove Unused Interface" 
	  namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML"/>
<refactoring 
	  controller="org.eclipse.emf.refactor.refactorings.uml24.renameattribute.RefactoringController" 
	  gui="org.eclipse.emf.refactor.refactorings.uml24.renameattribute.RefactoringGuiHandler" 
	  id="org.eclipse.emf.refactor.refactorings.uml24.renameattribute" 
	  menulabel="Rename Attribute" 
	  namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML"/>
<refactoring 
	  controller="org.eclipse.emf.refactor.refactorings.uml24.showattribute.RefactoringController" 
	  gui="org.eclipse.emf.refactor.refactorings.uml24.showattribute.RefactoringGuiHandler" 
	  id="org.eclipse.emf.refactor.refactorings.uml24.showattribute" 
	  menulabel="Show Attribute" 
	  namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML"/>
</extension>
</plugin>
