<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.refactorings">
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.moveeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.moveeattribute.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.MoveEAttribute" menulabel="Move EAttribute" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameepackage.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameepackage.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEPackage" menulabel="Rename EPackage" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEClass" menulabel="Rename EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameedatatype.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameedatatype.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEDataType" menulabel="Rename EDataType" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeenumliteral.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeenumliteral.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEEnumLiteral" menulabel="Rename EEnumLiteral" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeattribute.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEAttribute" menulabel="Rename EAttribute" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameereference.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameereference.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEReference" menulabel="Rename EReference" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeoperation.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEOperation" menulabel="Rename EOperation" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.renameeparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.renameeparameter.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEParameter" menulabel="Rename EParameter" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createreferencedeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createreferencedeclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateReferencedEClass" menulabel="Create referenced EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createsubeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createsubeclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateSubEClass" menulabel="Create sub EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.addparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.addparameter.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.AddParameter" menulabel="Add EParameter with EClassifier type" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.createsupereclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.createsupereclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateSuperEClass" menulabel="Create super EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptyreferencedeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptyreferencedeclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RemoveEmptyReferencedEClass" menulabel="Remove empty referenced EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptysubeclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptysubeclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RemoveEmptySubEClass" menulabel="Remove empty sub EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeemptysupereclass.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeemptysupereclass.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RemoveEmptySuperEClass" menulabel="Remove empty super EClass" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.removeeparameter.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.removeeparameter.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RemoveEParameter" menulabel="Remove EParameter" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.moveeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.moveeoperation.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.MoveEOperation" menulabel="Move EOperation" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pushdowneattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pushdowneattribute.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.PushDownEAttribute" menulabel="Push down EAttribute" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pushdowneoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pushdowneoperation.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.PushDownEOperation" menulabel="Push down EOperation" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pullupeattribute.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pullupeattribute.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.PullUpEAttribute" menulabel="Pull up EAttribute" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.pullupeoperation.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.pullupeoperation.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.PullUpEOperation" menulabel="Pull up EOperation" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
</extension>
</plugin>
