<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Xtext Refactorings provided by EMF Refactor">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.jface.text.TextSelection">
                  </instanceof>
               </iterate>
            </visibleWhen>
            <dynamic
                  class="org.eclipse.emf.refactor.refactoring.xtext.ui.XtextApplicationMenu"
                  id="org.eclipse.emf.refactor.xtext.dynamicmenu">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>

</plugin>
