<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.metrics.generator.ui.NewMetricWizardJava"
            icon="icons/metric.PNG"
            id="org.eclipse.emf.refactor.metrics.newwizard"
            name="Metric (specified in Java)">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.metrics.generator.ui.NewMetricWizardComposite"
            icon="icons/metric.PNG"
            id="org.eclipse.emf.refactor.metrics.newwizard"
            name="Metric (compositional)">
      </wizard>
   </extension>
   <extension
         id="org.eclipse.emf.refactor.qa.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.emf.refactor.generator.menu"
               label="EMF Quality Assurance (define new techniques)">
            <command
                  commandId="org.eclipse.emf.refactor.metrics.generator.generateNewMetricJavaCommand"
                  icon="icons/metric.PNG"
                  label="Generate New Metric (specified in Java)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.refactor.metrics.generator.generateNewMetricCompositeCommand"
                  icon="icons/metric.PNG"
                  label="Generate New Metric (compositional)"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.refactor.metrics.generator.generateNewMetricJavaCommand"
            name="GenerateNewMetricJavaCommand">
      </command>
      <command
            id="org.eclipse.emf.refactor.metrics.generator.generateNewMetricCompositeCommand"
            name="GenerateNewMetricCompositeCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.refactor.metrics.generator.handler.GenerateNewMetricJavaCommandHandler"
            commandId="org.eclipse.emf.refactor.metrics.generator.generateNewMetricJavaCommand">
      </handler>
      <handler
            class="org.eclipse.emf.refactor.metrics.generator.handler.GenerateNewMetricCompositeCommandHandler"
            commandId="org.eclipse.emf.refactor.metrics.generator.generateNewMetricCompositeCommand">
      </handler>
   </extension>
</plugin>
