<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.smells.generator.ui.NewModelSmellWizardJava"
            icon="icons/modelsmell.PNG"
            id="org.eclipse.emf.refactor.smells.newwizard"
            name="Smell (specified in Java)">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.smells.generator.ui.NewModelSmellWizardMetric"
            icon="icons/modelsmell.PNG"
            id="org.eclipse.emf.refactor.smells.newwizard"
            name="Smell (based on a metric)">
      </wizard>
   </extension>

</plugin>
