<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.emf.refactor.propertypage"
            class="org.eclipse.emf.refactor.refactoring.configuration.ui.RefactoringsConfigurationPage"
            id="org.eclipse.emf.refactor.refactoring.configuration"
            name="Refactorings configuration">
      </page>
   </extension>

</plugin>
