<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.refactor.smells">
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.abstractpackage"
            modelsmell_description="The model contains a Package with a qouta of abstract Classes higher than the specified limit."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.AbstractPackage"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Abstract Package">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.dataclumpsattributes"
            modelsmell_description="The model contains classes with a specific number of equal attributes."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.DataClumpsAttributes"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Data Clumps (Attributes)">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.dataclumpsparameters"
            modelsmell_description="The model contains operations with a specific number of equal input parameters."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.DataClumpsParameters"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Data Clumps (Parameters)">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.largeclass"
            modelsmell_description="The model contains a class owning more features (attributes and operations) than the specified limit."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.LargeClass"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Large Class">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.longparameterlist"
            modelsmell_description="The model contains an operation with more input parameters than the specified limit."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.LongParameterList"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Long Parameter List">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.primitiveobsessionconstants"
            modelsmell_description="The model contains a class with more constant attributes than the specified limit."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.PrimitiveObsessionConstants"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Primitive Obsession (Constants)">
      </modelsmell>
      <modelsmell
            id="org.eclipse.emf.refactor.smells.uml24.primitiveobsessionprimitivetype"
            modelsmell_description="The model contains a class with more attributes being of primitive type than the specified limit."
            modelsmell_finderclass="org.eclipse.emf.refactor.smells.uml24.metricbased.PrimitiveObsessionPrimitiveType"
            modelsmell_metamodel="http://www.eclipse.org/uml2/4.0.0/UML"
            modelsmell_name="Primitive Obsession (Primitive Type)">
      </modelsmell>
   </extension>

</plugin>
