<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="comrel.generator.category"
            name="CoMReL"
            parentCategory="org.eclipse.emf.refactor.newwizards.category">
      </category>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category/comrel.generator.category"
            class="comrel.generator.helper.wizards.SingleFilterWizard"
            icon="icons/singlefilter.png"
            id="comrel.generator.wizard.singlefilter"
            name="Single Filter">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category/comrel.generator.category"
            class="comrel.generator.helper.wizards.MultiFilterWizard"
            icon="icons/multifilter.jpg"
            id="comrel.generator.wizard.multifilter"
            name="Multi Filter">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category/comrel.generator.category"
            class="comrel.generator.helper.wizards.SingleFeatureWizard"
            icon="icons/singlefeature.gif"
            id="comrel.generator.wizard.singlefeature"
            name="Single Feature">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category/comrel.generator.category"
            class="comrel.generator.helper.wizards.MultiFeatureWizard"
            icon="icons/multifeature.jpg"
            id="comrel.generator.wizard.multifeature"
            name="Multi Feature">
      </wizard>
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category/comrel.generator.category"
            class="comrel.generator.refactoring.wizards.NewRefactoringWizardCoMReL"
            icon="icons/refactoring.jpg"
            id="comrel.generator.wizard.refactoring"
            name="Refactoring (specified in CoMReL)">
      </wizard>
   </extension>

</plugin>
