<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.refactorings">
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createreferencedeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createreferencedeclassusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateReferencedEClassUsingHenshin" menulabel="create referenced EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsubeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsubeclassusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateSubEClassUsingHenshin" menulabel="create sub EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsupereclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.createsupereclassusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.CreateSuperEClassUsingHenshin" menulabel="create super EClass (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameepackageusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameepackageusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEPackageUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeclassusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeclassusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEClassUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameedatatypeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameedatatypeusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEDataTypeUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeenumliteralusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeenumliteralusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEEnumLiteralUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeattributeusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameeattributeusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEAttributeUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
<refactoring controller="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameereferenceusinghenshin.RefactoringController" gui="org.eclipse.emf.refactor.refactorings.ecore.henshin.renameereferenceusinghenshin.RefactoringGuiHandler" id="org.eclipse.emf.refactor.refactorings.ecore.RenameEReferenceUsingHenshin" menulabel="rename (using henshin)" namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
</extension>
</plugin>
